name: web
on:
  push:
    paths: ["apps/web/**", ".github/workflows/web.yml"]
  pull_request:
    paths: ["apps/web/**", ".github/workflows/web.yml"]
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/web
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install pnpm
        run: npm i -g pnpm
      - name: Install
        run: pnpm install
      - name: Lint
        run: pnpm lint
      - name: Build
        run: pnpm build
